<launch>
	<arg name="doGps" default="true" />
	<arg name="doImu" default="true" />
	<arg name="doMotor" default="true" />
	<arg name="showImu" default="false" />

	<include if="$(arg doImu)" file="$(find kaimi_imu)/launch/kaimi_imu.launch">
		<arg name="showImu" value="$(arg showImu)" />
	</include>

	<!--node if="$(arg doGps)" pkg="nmea_navsat_driver" name="gps_node" type="nmea_serial_driver" respawn="true" output="screen" >
		<param name="port" value="/dev/gps1" />
		<param name="baud" value="38400" />
		<param name="frame_id" value="gps" />
	</node-->

	<node if="$(arg doGps)" pkg="nmea_navsat_driver" name="nmea_topic_serial_reader_node" type="nmea_topic_serial_reader" respawn="true" output="screen" >
		<param name="port" value="/dev/gps1" />
		<param name="baud" value="38400" />
	</node>

	<node if="$(arg doGps)" pkg="nmea_navsat_driver" name="nmea_topic_driver_node" type="nmea_topic_driver" respawn="true" output="screen" >
	</node>

    <node if="$(arg doMotor)" pkg="farryn_controller" name="motor_controller_node" type="farryn_controller_node" output="screen">
        <rosparam command="load" file="$(find farryn_controller)/cfg/farryn_controller.yaml"/>
    </node>

	<node pkg="tf" type="static_transform_publisher" name="base_footprint_base_link_tf" args="0.00 0 0.063 0 0 0 base_footprint base_link 100" />

    <include file="$(find kaimi)/launch/dual_ekf_navsat_example.launch">

    </include>
</launch>