<launch>
	<arg name="doDebug" default="false" />
	<arg if="$(arg doDebug)" name="launchPrefix" value="xterm -e gdb -args" />
	<arg unless="$(arg doDebug)" name="launchPrefix" value="" />

	<arg name="doConeDetector" default="true" doc="Enable the cone detector" />

	<!-- BEGIN cone_detector parameters -->
	<arg name="camera_name" default="primesense_camera" doc="Name of camera, to get properties" />
	<arg name="fps" default="10" doc="Max frames per second to report object detection results" />
	<arg name="image_topic_name" default="/usb_cam/image_raw" doc="topic name published by camera" />
	<arg name="image_transport" default="compressed" doc="image transport (e.g., compressed) to be used" />
	<arg name="max_aspect_ratio" default="0.85" doc="Max top_length / bottom_length acceptable for cone shape" />
	<arg name="poly_epsilon" default="6.7" doc="Epsilong value for approxPolyDP" />
	<arg name="resize_x" default="320" doc="Image will be resized to this many columns" />
	<arg name="resize_y" default="240" doc="Image will be resized to this many rows" />
	<arg name="show_step_times" default="false" doc="true => show computation times for interesting parts of object recognition" />

	<arg name="alow_hue_range" default="0" doc="Low range of hue of first filter" />
	<arg name="ahigh_hue_range" default="179" doc="High range of hue of first filter" />
	<arg name="alow_saturation_range" default="140" doc="Low saturation range of first filter" />
	<arg name="ahigh_saturation_range" default="255" doc="High saturantion range of first filter" />
	<arg name="alow_value_range" default="178" doc="Low value range of first filter" />
	<arg name="ahigh_value_range" default="255" doc="High value range of first filter" />

	<arg name="blow_hue_range" default="0" doc="Low range of hue of second filter" />
	<arg name="bhigh_hue_range" default="179" doc="High range of hue of second filter" />
	<arg name="blow_saturation_range" default="140" doc="Low saturation range of second filter" />
	<arg name="bhigh_saturation_range" default="255" doc="High saturantion range of second filter" />
	<arg name="blow_value_range" default="178" doc="Low value range of second filter" />
	<arg name="bhigh_value_range" default="255" doc="High value range of second filter" />
	<!-- END cone_detector parameters -->


	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      	<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>

	<include if="$(arg doConeDetector)" file="$(find victoria_perception)/launch/cone_detector.launch">
		<arg name="camera_name" value="$(arg camera_name)" />
		<arg name="fps" value="$(arg fps)" />
		<arg name="image_topic_name" value="$(arg image_topic_name)" />
		<arg name="image_transport" value="$(arg image_transport)" />
		<arg name="max_aspect_ratio" value="$(arg max_aspect_ratio)" />
		<arg name="poly_epsilon" value="$(arg poly_epsilon)" />
		<arg name="resize_x" value="$(arg resize_x)" />
		<arg name="resize_y" value="$(arg resize_y)" />
		<arg name="show_step_times" value="$(arg show_step_times)" />

		<arg name="low_hue_range" value="$(arg low_hue_range)" />
		<arg name="high_hue_range" value="$(arg high_hue_range)" />
		<arg name="low_saturation_range" value="$(arg low_saturation_range)" />
		<arg name="high_saturation_range" value="$(arg high_saturation_range)" />
		<arg name="low_value_range" value="$(arg low_value_range)" />
		<arg name="high_value_range" value="$(arg high_value_range)" />
		<arg name="low_contour_area" value="$(arg low_contour_area)" />
		<arg name="high_contour_area" value="$(arg high_contour_area)" />
	</include>

</launch>
