<launch>
	<arg name="imu_debug" default="false" />
	<arg if="$(arg imu_debug)" name="launch_prefix" value="xterm -e gdb --args" />
	<arg unless="$(arg imu_debug)" name="launch_prefix" value="" />
	<arg name="showImu" default="false" />
	<node pkg="kaimi_imu" name="kaimi_imu" type="kaimi_imu_node" respawn="false" output="screen" launch-prefix="$(arg launch_prefix)" >
		<param name="showImu" type="bool" value="$(arg showImu)" />
	</node>
</launch>